extends basic

block content 
  .panel.panel-default
    .panel-heading DLMS Provisioning
    .panel-body    
        h4
          a(href='/agt_start') AGENT  
        h4
          a(href='/mgmt_start') MANAGEMENT  
        

          

