extends basic

block content 
  .panel.panel-default
    .panel-heading DLMS Provisioning
    .panel-body    
        h4 A simple Web UI for DLSM smart meter demo
        p navigate using the navbar above

